* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Tahoma, Arial, Sans-serif;
    ;
}

.navup {
    justify-content: flex-end;
    padding-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
    gap: 30px;
    color: white;
    display: flex;
    padding-right: 7%;
    background-color: #f85606;
}

.navdown {
    background-color: #f85606;
    width: 100%;
    height: 19vh;
    display: flex;
    align-items: center;
    padding: 0 73px;
}

.logo {
    width: 11%;
}

.Search {
    width: 53%;
    height: 37%;
    margin-left: 70px;
    border: none;
}


.Search::placeholder {
    padding-left: 20px;
    color: rgb(165, 157, 157);
}


.btnbg {
    background-color: #ffe1d2;
    width: 53px;
    height: 37%;
}

.Searchbtn {
    width: 47%;
    height: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.fa-cart-shopping {
    color: white;
    font-size: 24px;
    padding-left: 27px;
    cursor: pointer;
}

.img-container {
    display: flex;
    align-items: center; /* vertically center */
    gap: 2px; /* space between the two images */
}

.img1 {
    width: 74%;
    height: 66%;
    margin-left: 80px;
}

.img2 {
    width: 15%;
    height: 12%;
}
